<html lang="en">

<head>
  <title>NodeFlix</title>
  <link rel="icon" type="image/png" sizes="16x16" href="Images/logoTab.png">
  <link rel="stylesheet" href="/styles/cat.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <header>
    <div class="col-1">
      <!--Logo -->
      <a href="#">
        <img class="logo" src="/Images/logo.png" href="index" alt="logo getflix" />
      </a>
      
    </div>
    <div class="col-2" id="navDiv">
      <!--Navbar -->
      <ul class="navbar">
        {{#if logged}}
        <li>
          <form action="/auth/logout" method="post" style="margin-left: 20px; display:flex; color: white">
            <h4>
              <h4>Hi, {{logged}}</h4>
              <button type="submit"
                style="padding: 0 20px; background: none; margin: 5px 10px; border: 1px solid white;  border-radius: 10px; color: white; cursor: pointer">Logout
              </button>
          </form>
        </li>

        {{else}}
        <li>
          <a href="login">Sign In</a>
        </li>
        {{/if}}
        <li class="dropdown">
          <a href="#" class="dropbtn">Genres</a>
        		<ul class="sub_menu" id="sub_menu">
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ActionM">Action
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="AdventureM">Adventure
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="AnimationM">Animation
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ComedyM">Comedy
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="CrimeM">Crime
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="DocumentaryM">Documentary
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="DramaM">Drama
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="FamilyM">Family
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="FantasyM">Fantasy
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="HistoryM">History
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="HorrorM">Horror
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="MusicM">Music
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="MysteryM">Mystery
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="RomanceM">Romance
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ScienceFictionM">Science Fiction
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="TVMovieM">TV Movie
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="ThrillerM">Thriller
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="WarM">War
                  </a>
              </li>
              <li id="LiSecondlevel" class="sub_menu_li_hidden">
                  <a class="aBtnDropdown"  id="WesternM">Western
                  </a>
              </li>
            </ul>
              
        </li>
        <li>
          <form id="searchbox">
            <input type="search" placeholder="Search" id="search" class="search" name="search" />
          </form>
          
        </li>
      </ul>
    </div>
  </header>
    <div id="GenreBtn"></div>
 
     <!--  <div id="GenreBtn"></div>-->
    
      <main id="movieCard"></main>
    <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current">1</div>
        <div class="page" id="next">Next Page</div>

    </div>
          
    <!-- Footer-->
    <footer>
      <div class="social"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i
            class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram"
            aria-hidden="true"></i></a><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></div>
      <ul class="list-footer">
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Getflix © 2022</p>
    </footer>

  </div>
  
  <script type="text/javascript" language="javascript" src="scripts/GenreDropdown.js"></script>
  <script src="scripts/catalogue.js"></script>
</body>

</html>