<html lang="en">

<head>
    <title>NodeFlix</title>
    <link rel="icon" type="image/png" sizes="16x16" href="Images/logoTab.png">
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/HeaderFooter.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        .mySlides {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <div class="header">
            <!--Logo -->
            <a href="/">
              <img class="logo" src="/Images/logo.png" href="index" alt="logo getflix" />
            </a>
        </div>
        <div class="navDiv" id="navDiv">
            <!--Navbar -->
            <ul class="navbar">
                
                {{#if logged}}
                <li>
                    <form action="/auth/logout" method="post" style="margin-left: 20px; display:flex; color: white">
                        <h4>
                            <h4>Hi, {{logged}}</h4>
                            <button type="submit"
                                style="padding: 0 20px; background: none; margin: 5px 10px; border: 1px solid white;  border-radius: 10px; color: white; cursor: pointer">Logout
                            </button>
                    </form>
                </li>

                {{else}}
                <li>
                    <a href="login">Sign In</a>
                </li>
                {{/if}}
                <li class="home"><a href="/">Home</a></li>
            </ul>
        </div>
    </header>
    
    


      {{#if message}}
          <div class="message">
            <h1>{{message}}</h1>
          </div>
      {{/if}}
      <div class="HeroRow">
        <form action="/forgot" method="post">
            <div class="forminput">
            <label for="email" class="form-label">Email:</label></br>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required/>
            </div>

            <div class="forminput">
            <button
                type="submit"
                class="form-button"
                name="submit">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                </span>Reset password
                </button>
            </div>
        </form>
    </div>



    <script>
        var slideIndex = 1; showDivs(slideIndex); var myIndex = 0; carousel();
      /*------------------- manuel*/ function plusDivs(n) {
            showDivs(slideIndex
                += n);
        } function showDivs(n) {
            var i; var x =
                document.getElementsByClassName("mySlides"); if (n > x.length) {
                    slideIndex
                        = 1
                } if (n < 1) { slideIndex = x.length } for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                } x[slideIndex - 1].style.display = "block";
        }
      /*------------------- Automatic*/ function carousel() {
            var i; var x =
                document.getElementsByClassName("mySlides");
        } for (i = 0; i < x.length;
            i++) { x[i].style.display = "none"; } myIndex++; if (myIndex > x.length) { myIndex = 1 } x[myIndex - 1].style.display = "block"; setTimeout(carousel,
                4000); // Change image every 2 seconds }
    </script>
    <script src="scripts/apifetch.js"></script>
</body>

</html>