<html lang="en">

<head>
  <title>NodeFlix</title>
  <link rel="icon" type="image/png" sizes="16x16" href="Images/logoTab.png">
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    .mySlides {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <div class="col-1">
      <!--Logo -->
      <a href="#">
        <img class="logo" src="/Images/logo.png" href="index" alt="logo getflix" />
      </a>
      
    </div>
    <div class="col-2">
      <!--Navbar -->
      <ul class="navbar">
        {{#if logged}}
        <li>
          <form action="/auth/logout" method="post" style="margin-left: 20px; display:flex; color: white">
            <h4>
              <h4>Hi, {{logged}}</h4>
              <button type="submit"
                style="padding: 0 20px; background: none; margin: 5px 10px; border: 1px solid white;  border-radius: 10px; color: white; cursor: pointer">Logout
              </button>
          </form>
        </li>

        {{else}}
        <li>
          <a href="login">Sign In</a>
        </li>
        {{/if}}
        <li>
          <button id="searchMovie"><a href="/search">Search</a></button>
        </li>
        <li>
          <form id="searchbox">
            <input type="search" placeholder="Search a Movie" id="search" class="search" name="search" />
          </form>
          
        </li>
      </ul>
    </div>
  </header>
  <div class="row-2">
    <!--Hero -->
    {{!-- <img src="/Images/doctor-strange-1256x826.webp"> --}}
    <div class="hero">
      <h2>Doctor Strange 2: In The Multiverse Of Madness</h2>
      <p>Doctor Stephen Strange continues his research on the Time Stone. However, an old friend-turned-enemy attempts
        to destroy all the wizards on Earth, which disrupts Strange's plan.</p>

      <button>More Info</button>
    </div>
  </div>
  <div class="row-31">
    <!-- -->
    <button class="pre-btn"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
    <h3>Top rated</h3>
    <button class="nxt-btn"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>

  </div>
  <div class="row-41" id="movieTop10">
    <!-- -->

  </div>
  <div class="row-3">
    <!-- -->
    <button class="pre-btn"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
    <h3>Trending</h3>
    <button class="nxt-btn"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>

  </div>
  <div class="row-4" id="trending">
    <!-- -->

  </div>
  <div class="row-5">
    <!-- -->
    <h3>Now Playing in theatre</h3>
  </div>
  <div class="row-6" id="latestmovies">
    <!-- -->

  </div>
  <div class="row-7">
    <!--See more -->

  </div>
  {{!-- <div class="footer-basic" id="row-8"> --}}
    <!-- Footer-->
    <footer>
      <div class="social"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i
            class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram"
            aria-hidden="true"></i></a><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></div>
      <ul class="list-footer">
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Getflix © 2022</p>
    </footer>

  </div>
  {{!-- </div> --}}
  
  <script src="scripts/apifetch.js"></script>
</body>

</html>