<html lang="en">
  <head>
    <title>Search...</title>
    <link rel="stylesheet" href="/styles/search.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  </head>
  <body>
    
      <div class="row-1">
        <!--Header -->
        <div class="col-1">
          <!--Logo -->
          <a href="/">
        <img class="logo" src="/Images/logo.png" href="index" alt="logo getflix" />
      </a>
        </div>
        <div class="col-2">
          <!--Navbar -->
          <ul class="navbar">
           {{#if logged}}
        <li class="user">
          <h4>Hi, {{logged}}</h4>
          <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <div class="user-dropdown user-dropdown-hidden">
              <button id="myprofile">My&nbsp;profile</button>
              <form action="/auth/logout" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Logout</button>
              </form>
              <form action="/myprofile/upgrade" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Upgrade</button>
              </form>
              <form action="/myprofile/delete" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
        {{else}}
        <li class="signIn">
          <a href="login">Sign In</a>
        </li>
        {{/if}}
            <li class="home"><a href="/">Home</a></li> 
            <li>
              <form  id="form">
            <input type="search" placeholder="Search" id="search" class="search">
        </form>
              <!-- <a href="#">Search</a> -->
            </li> 
            
          </ul>
        </div>
      </div>
      <div class="container">
      <div id="GenreBtn"></div>
      <main id="movieCard"></main>
    <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current">1</div>
        <div class="page" id="next">Next Page</div>

    </div>
    </div <!-- Container -->>
    <div class="headerResponsive">
      <ul class="navbar">
        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
{{#if logged}}
        <li class="user">
          <h4>Hi, {{logged}}</h4>
          <div class="icon-user">
            <i class="fa-solid fa-user"></i>
            <div class="user-dropdown user-dropdown-hidden">
              <button id="myprofile">My&nbsp;profile</button>
              <form action="/auth/logout" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Logout</button>
              </form>
              <form action="/myprofile/upgrade" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Upgrade</button>
              </form>
              <form action="/myprofile/delete" method="post" style="display:flex; color: white; width: 100%">
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        </li>
        {{else}}
        <li>
          <a href="login"><i class="fa-regular fa-user"></i></a>
        </li>
        {{/if}}

      </ul>
    </div>

    <script src="scripts/search.js"></script>
    <script src="scripts/userDropdown.js"></script>
  </body>
</html>