<html>
    <head>
        <title>NodeFlix</title>
  <link rel="icon" type="image/png" sizes="16x16" href="Images/logoTab.png">
  <link rel="stylesheet" href="/styles/catalogue.css" />
  <link rel="stylesheet" href="/styles/HeaderFooter.css" />
  <link rel="stylesheet" href="/styles/headerResponsive.css"/>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/search.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
       <div id="video">
        
       </div>
       <div id="movieCard">
        
       </div>
       <div class="pagination">
        <div class="page" id="prev">Previous Page</div>
        <div class="current" id="current">1</div>
        <div class="page" id="next">Next Page</div>

    </div>
       <script src="scripts/video.js"></script> 
    </body>
</html>