/*---------------Header----------*/
header{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;
}
.headerResponsive{
  visibility: hidden;
}
.navResponsive{
visibility: hidden;
}

/*------------Header------*/
.header{
float: left;
}
/*Responsive Big screen*/
@media only screen and (min-width: 601px) {
  .logo {
    width: 120px;
    height: auto;
    background: none;
    /*margin-top: 10px;*/
    }  
    .navDiv{
      /*width: 60%;*/
      float: right;
      margin-right: 10px;
      }
      .navbar {
      margin-top: 5px;
      list-style-type: none;
      padding: 0;
      background-color: none;
      }
      .navbar > li {
      float: right;
      margin-top: 5px;
      }
      .navbar > li > #searchbox{
      margin-right: 20px;
      }
      .navbar > li > a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 5px;
      font-size: 1.8vw;
      text-decoration: none;
      transition: all .2s ease-in-out;
      }
      
      .navbar >li >a:hover {
      background-color: rgb(213, 3, 3);
      }
        
      .navbar .user{
      display: flex;
      }
      .user h4{
      display: none;
      }
      .icon-user{
      border-radius: 50%;
      background-color: #b00000;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      position: relative;
      }
      
      .user-dropdown{
      position: absolute;
      background-color: rgb(213, 3, 3, 0.7);
      top: 100%;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.3s 0.3s ease-out;
      }
      
      .user-dropdown-hidden{
      right: -100%;
      opacity: 0;
      }
      
      .user-dropdown button{
      padding: 5px 20px;
      background: none;
      color: white;
      cursor: pointer;
      width: 100%;
      border: none;
      }
      
      .user-dropdown button:hover{
      background: rgba(0,0,0,0.3);
      }
      .form-control {
      color: #000;
      background-color: #d1d1d1;
      }
      
      .message {
      /* text-align: center; 
      padding: 20px 0;  */
      background: transparent;
      }
      /*----------Searchbar*/
      #searchbox{
      margin-top: 12px;
      }
      #searchbox input{
      text-align: center;
      color: #fff;
       margin-right: 30px;
      }
      #search{
      background-color: transparent;
      border-radius: 50px;
      color: white;
      width: 120px;
      font-size: 1.8vw;
      }
      #search:focus{
      outline: 0;
      background-color: var(--primary-color);
      }
      #search::placeholder{
      color: #fff;
      padding-left: 20px;
      }
      
}
@media only screen and (min-width: 801px) {
.logo {
  width: 150px;
  height: auto;
  background: none;
  }
 
.navDiv{
/*width: 70%;*/
float: right;
margin-right: 30px;
}
.navbar {
margin-top: 20px;
list-style-type: none;
padding: 0;
background-color: none;
}
.navbar > li {
float: right;
margin-top: 5px;
}
.navbar > li > #searchbox{
margin-right: 70px;
}
.navbar > li > a {
display: block;
color: white;
text-align: center;
padding: 14px 5px;
font-size: 1.5vw;
text-decoration: none;
transition: all .2s ease-in-out;
}

.navbar >li >a:hover {
background-color: rgb(213, 3, 3);
}
  
.navbar .user{
display: flex;
}
.user h4{
display: none;
}
.icon-user{
border-radius: 50%;
background-color: #b00000;
height: 50px;
width: 50px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 10px;
position: relative;
}

.user-dropdown{
position: absolute;
background-color: rgb(213, 3, 3, 0.7);
top: 100%;
right: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: all 0.3s 0.3s ease-out;
}

.user-dropdown-hidden{
right: -100%;
opacity: 0;
}

.user-dropdown button{
padding: 5px 20px;
background: none;
color: white;
cursor: pointer;
width: 100%;
border: none;
}

.user-dropdown button:hover{
background: rgba(0,0,0,0.3);
}
.form-control {
color: #000;
background-color: #d1d1d1;
}

.message {
/* text-align: center; 
padding: 20px 0;  */
background: transparent;
}
/*----------Searchbar*/
#searchbox{
margin-top: 12px;
margin-right: 10px;
}
#searchbox input{
text-align: center;
color: #fff;
}
#search{
background-color: transparent;
border-radius: 50px;
color: white;
width: 200px;
font-size: 1.5vw;
}
#search:focus{
outline: 0;
background-color: var(--primary-color);
}
#search::placeholder{
color: #fff;
padding-left: 20px;
}
}

*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
  }
  body{
    height: max-content;
    width: 100%;
    background-color: #000;
    color: #fff;
  }
  li{
    list-style: none;
  }
  img{
    width: 100px;
    height: auto;
  }


/*------------Header------*/
  
  
  #arrowDropdown{
    vertical-align: middle; 
    width: 15px;
  }
  a #arrowDropdown{ 
    border: 0;
  }
  
  /* Dropdown LEVEL ONE*/
  
  .navbar { 
    position: relative; 
    width: 100%; }
  .navbar .dropdown{ 
    font-weight: bold;
    width: 150px;  
    position: relative; }
  .dropdown .dropbtn:hover	{ 
    color: white; }
  .dropdown .dropbtn{ 
    display: block; 
    color: white; 
    position: relative; 
    z-index: 2000; }
  .dropbtn:hover{ 
    background: #f9f9f9; 
    position: relative; }
  .dropbtn.hover{
    position: relative;
    background: rgb(213, 3, 3);
  }
  
  /* Dropdown LEVEL TWO*/
  
  .sub_menu { 
    display: block; 
    transition: all 0.3s ease-out;
    position: absolute; 
    background-color: rgb(213, 3, 3, 0.7);
    top: 100%; 
    left: 0; 
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    z-index: 1000; }
  .sub_menu li { 
    font-weight: normal; 
    color: #000; 
    transition: all 0.2s ease-in-out;
  }
  .sub_menu_li_hidden{
    opacity: 0;
    transform: translateX(30px);
  }
  .sub_menu li a	{ 
    padding: 5px 0 5px 10px;
    color: #fff;
    display: block; 
    text-decoration: none;
  } 
  .sub_menu li a:hover{ 
    display: block; 
    background: rgba(0,0,0,0.3); 
  } 
  /* modal of myprofile */
  .modal-myprofile{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 3000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    transition: all 0.5s ease-out;
  }
  
  .modal-myprofile-hidden{
    border-radius: 50%;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  
  .forms{
    background-color: rgb(213, 3, 3, 0.7);
    padding: 50px;
  }
  
  #form-myprofile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .forminput{
    width: 100%;
  }
  
  #form-myprofile input{
    opacity: 0.5;
  }
  
  /* icon edit for myprofile modal */
  .fa-pen-to-square{
    font-size: 1.3rem;
    margin-left: 10px;
    cursor: pointer;
  }
  
  #form-save{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  
  #form-save button{
    color: rgb(213, 3, 3);
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
  }
  
  #form-save button:hover{
    background-color: lightgray;
  }
  




  