/*Responsive*/
@media only screen and (min-width: 481px) {
  /*Hero*/

.TitlemovieTop10 h3, .TitleTrending h3, .TitleNowPlaying h3{
  font-weight: 900;
  font-size: xx-large;
}
#trending, #movieTop10, #NowPlaying{
  width: 80%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.form-button {
  padding: 0 10px; 
  background: none; 
  margin: 10px 1px; 
  border: none; 
  border-radius: 5px; 
  color: white; 
  background-color: #b00000;
}
.movie {
  flex:auto 0 0;
  width: 150px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position:relative;
  overflow: hidden;
  cursor: pointer;
}
.message h1{
  text-align: center; 
  padding: 20px 0; 
  background-color: #000; 
  color: white;
}
.know-more{
  font-size: 15px;
}
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
.HeroRow{
  position: relative;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(6, 5, 6, 0.993)), url('/Images/doctor-strange-1256x826.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero{
  width: 40%;
  margin-right: 50%;
  margin-top: 50px;
}
.hero h2{
  font-weight: 700;
  font-size: 3vw;
}
.hero p{
  font-size: 2vw;
  font-weight: lighter;
}
.hero button{
  width: 35%;
  height: 40px;
  margin-top: 10px;
  background-color: #b00000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}
.hero button:hover{
  opacity: .8;
}
}
@media only screen and (min-width: 801px) {
.HeroRow{
  position: relative;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(6, 5, 6, 0.993)), url('/Images/doctor-strange-1256x826.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero{
  width: 40%;
  margin-right: 50%;
  margin-top: 100px;
}
.hero h2{
  font-weight: 700;
  font-size: 30px;
}
.hero p{
  font-size: 20px;
  font-weight: lighter;
}
.hero button{
  width: 35%;
  height: 40px;
  margin-top: 10px;
  background-color: #b00000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
.hero button:hover{
  opacity: .8;
}
}
@media only screen and (max-width: 480px) {
/*Hero*/
.HeroRow{
  position: relative;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(6, 5, 6, 0.993)), url('/Images/doctor-strange-1256x826.webp');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero{
  position: absolute;
  margin-right: 20%;
  margin-left: 10px;
  margin-top: 10px;
}
.hero h2{
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  display: none;
}
.hero p{
  font-size: 10px;
  font-weight: lighter;
  display: none;
}
.hero button{
  display: none;
}

.form-button {
  padding: 0 10px; 
  background: none; 
  margin: 10px 1px; 
  border: none; 
  border-radius: 5px; 
  color: white; 
  background-color: #b00000;
}
#trending, #movieTop10, #NowPlaying{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.movie {
  flex:auto 0 0;
  width: 150px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position:relative;
  overflow: hidden;
  cursor: pointer;
}
.message {
  text-align: center; 
  padding: 20px 0; 
  background-color: #000; 
  color: white;
}
.TitlemovieTop10 h3, .TitleTrending h3, .TitleNowPlaying h3{
  font-weight: 700;
  font-size: large;
}
}

/*-------Body Page Index---------*/
.TitleTrending, .trending, .TitleNowPlaying{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-top: 50px;
  font-weight: 600;
  font-size: xx-large;
}
.TitleTrending, .trending{
  margin-bottom: -50px;
}
.TitlemovieTop10{
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#trending::-webkit-scrollbar, #movieTop10::-webkit-scrollbar, #NowPlaying::-webkit-scrollbar {
  display: none;
}

.movie img{
  width:100%;
}
.movie-info{
  color:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem;
  letter-spacing: 0.5px;
  
}

.movie-info h3{
  margin-top: 0;
  color: black;
  font-size: 15px;
}
.movie-info span{
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  color:black;
}
.overview{
  position:absolute;
  /* visibility: hidden; */
  left:0;
  right:0;
  bottom:0;
  align-items: center;
  justify-content: center;
  background:rgba(115, 116, 116, 0.689);
  color: #fff;
  padding: 1rem;
  height: 100%;
  font-size: small;
  transform:translateY(101%);
  transition:transform 0.3s ease-in;
}
.overview h3 {
  font-size: medium;
}

.modal-comments{
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all .3s ease-out;
  position:fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-comments-hidden{
  transform: translate(-100%, -100vh);
}

.modal-comments .comments{
  background-color: white;
  padding: 20px;
  width: 80%;
  color: black;
  max-height: 80%;
  overflow-y: auto;
}

.modal-comments .fa-xmark{
  position: absolute;
  top: 20px;
  cursor: pointer;
  right: 20px;
  font-size: 1.5rem;
  color: white;
}

.movie:hover .overview{
  transform:translateY(0)
}
.know-more{
  background-color: #b00000;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 10px;
  cursor:pointer;
}



/* Scroll: */
  
.pre-btn,
.nxt-btn{
    position: absolute;
    height: 200px;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5vw;
    background: #181818;
    border: none;
    outline: none;
    opacity: 0;
}

.pre-btn{
    left: -2.5vw;
}

.nxt-btn{
    right: -2.5vw;
}
.nxt-btn:hover,
.pre-btn:hover{
    opacity: 1;
}
