*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(59, 59, 59, 0.7), rgba(0, 0, 0, 0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/f8d21352-6d07-4bdf-88e5-7c19adc18dac/BE-fr-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 601px) {


.form-control{
  width: 300px;
  border: 2px solid black;
}
.allForm h1{
  padding-bottom: 30px;
  font-weight: 700;
  font-size: xx-large;
}
.message{
  margin-top: -40px;
  background-color: transparent;
}
}
header{
  grid-area: header;
}
.container1{
    display: grid;
    grid-template-areas: 'header'
                        'formulaire';
}
.allForm{
  grid-area: formulaire;
  position: relative;
  display: flex;
  max-width: 400px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rgba(24, 24, 24, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(0, 0, 0, 0.35);
}
  
  .forminput{
    padding: 10px 0;
  }
  .forminput:nth-child(0n+2){
    padding-bottom: 0;
  }
  .forminput:nth-child(0n+3){
    padding: 0;
  }
  
  .form-button {
    padding: 0 10px; 
    background: none; 
    margin: 10px 1px; 
    border: none; 
    border-radius: 5px; 
    color: white; 
    background-color: #b00000;
  }
  
  .forgotLink{
    font-size: small;
    color: #55aaeb;
    text-decoration: none;
  }
  .forgotLink:hover{
    text-decoration: underline;
  }
  .forminput > button:hover{
    transform: scale(1.1);
  }
  .form-button:hover{
    transform: scale(1.1);
  }
  .message {
    text-align: center; 
    padding: 20px 0; 
    background-color: #000; 
    color: white;
    background-color: transparent;
  }
  .container{
    display: grid;
    grid-template-areas: 'header'
                        'formulaire';
  }
  
  