*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgba(59, 59, 59, 0.7), rgba(0, 0, 0, 0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/c8c8a0ad-86d6-45f1-b21d-821afa4e5027/f8d21352-6d07-4bdf-88e5-7c19adc18dac/BE-fr-20220801-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-button {
  padding: 0 10px; 
  background: none; 
  margin: 10px 1px; 
  border: none; 
  border-radius: 5px; 
  color: white; 
  background-color: #b00000;
}
.message {
  background-color: transparent;
}
.forgotLink{
  font-size: small;
  color: #55aaeb;
  text-decoration: none;
}
.forgotLink:hover{
  text-decoration: underline;
}
.forminput > button:hover{
  transform: scale(1.1);
}
.form-button:hover{
  transform: scale(1.1);
}

.allForm{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rgba(24, 24, 24, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(0, 0, 0, 0.35);
}