*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200vh;
}
.HeroRow{
  position: relative;
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px red;
}
.form-button {
  padding: 0 10px; 
  background: none; 
  margin: 10px 1px; 
  border: none; 
  border-radius: 5px; 
  color: white; 
  background-color: #b00000;
}
.message {
  background-color: transparent;
}