*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  margin: 0;
}
.container{
  display: grid;
}
.logo {
  max-width: 100px;
  height: auto;
}
.col-1{
  width: 25%;
  float: left;
}
.col-2{
  width: 75%;
  float: right;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99%;
}
.navbar > li {
  float: right;
}
.navbar > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar >li >a:hover {
  background-color: #111;
}
#searchbox{
  margin-top: 12px;
}
#search{
  background-color: transparent;
  border-radius: 50px;
  color: white;
}
#search:focus{
  outline: 0;
  background-color: var(--primary-color);
}
#search::placeholder{
  color: rgb(233, 198, 133);
  text-align: center;
}
/*Carousselle*/
.row-2{
  width: 100%;
  height: 50vh;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
button[class$="w3-display-left"]{
  float: left;
}
/*----------------*/
.row-3, .row-4, .row-5, .row-6{
  width: 75%;
  display: inline-flex;
  justify-content: center;
}
/* Top 10*/
.col-affichestop10{
  width: 150px;
  height: 200px;
  border: 2px solid orange;
}
.col-recommendation{
  width: 150px;
  height: 200px;
  border: 2px solid orange;
}
#trending{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid red;
  margin-left: auto;
  margin-right: auto;
}
#movieTop10{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid red;
  margin-left: auto;
  margin-right: auto;
}
#latestmovies{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid red;
  margin-left: auto;
  margin-right: auto;
}
.movie {
  width: 250px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position:relative;
  overflow: hidden;
}
.movie img{
  width:100%;
}
.movie-info{
  color:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem;
  letter-spacing: 0.5px;
  height: fit-content;
}

.movie-info h3{
  margin-top: 0;
  color: black;
  font-size: 15px;
}

.movie-info span{
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  color:black;
}
.overview{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform:translateY(101%);
  transition:transform 0.3s ease-in;
}

.movie:hover .overview{
  transform:translateY(0)
}

/*Affiches*/
.movie-info{
  border-top: 2px solid orange;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.movie-info .titlemovie{
  font-size: medium;
  align-self: flex-start;
}
/* Footer*/
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.list-footer {
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.list-footer > li > a {
  display: inline-flex;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list-footer >li >a:hover {
  background-color: white;
}
.social {
  text-align:center;
  padding-bottom:25px;
}

.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.social > a:hover {
  opacity:0.9;
}

.copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}